# Project information
site_name: Pyventus
site_url: https://mdapena.github.io/pyventus/
site_author: Manuel Da Pena
site_description: >-
  A Python library for event-driven and reactive programming.

# Repository
repo_name: mdapena/pyventus
repo_url: https://github.com/mdapena/pyventus

# Copyright
copyright: |
  Copyright &copy; 2023-2026 <a href="https://github.com/mdapena" target="_blank" rel="mdapena">Manuel Da Pena</a>

# Configuration
theme:
  name: material
  language: en
  custom_dir: docs/.overrides
  logo: images/logo/pyventus-logo-white.png
  favicon: images/favicon/pyventus-logo.ico
  palette:
    # Palette toggle for automatic mode
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode
    # Palette toggle for light mode
    - media: '(prefers-color-scheme: light)'
      scheme: default
      primary: cyan
      accent: amber
      toggle:
        icon: material/weather-night
        name: Switch to dark mode
    # Palette toggle for dark mode
    - media: '(prefers-color-scheme: dark)'
      scheme: slate
      primary: cyan
      accent: amber
      toggle:
        icon: material/brightness-auto
        name: Switch to system preference
  features:
    - navigation.instant
    - navigation.instant.progress
    - navigation.tracking
    - navigation.tabs
    - navigation.indexes
    - navigation.top
    - navigation.sections
    - navigation.footer
    - toc.follow
    - search.suggest
    - search.highlight
    - content.tabs.link
    - content.code.annotation
    - content.code.copy
    - content.tooltips
    - content.code.annotate
    - announce.dismiss

# Customization
extra:
  version:
    provider: mike
    default:
      - latest
      - dev
  social:
    - icon: fontawesome/brands/linkedin
      link: https://linkedin.com/in/manuel-da-pena
    - icon: fontawesome/brands/github
      link: https://github.com/mdapena
  analytics:
    provider: google
    property: !ENV GOOGLE_ANALYTICS_KEY
    feedback:
      title: Was this page helpful?
      ratings:
        - icon: material/thumb-up-outline
          name: This page was helpful
          data: 1
          note: >-
            Thanks for your feedback!
        - icon: material/thumb-down-outline
          name: This page could be improved
          data: 0
          note: >-
            Thanks for your feedback!

# Plugins
plugins:
  - search
  - git-committers:
      enabled: !ENV [ CI, false ]
      repository: mdapena/pyventus
      branch: master
      exclude:
        - api/*
        - learn/index.md
        - index.md
  - git-revision-date-localized:
      type: timeago
      enable_creation_date: true
      exclude:
        - api/*
        - learn/index.md
        - index.md
  - mkdocstrings:
      handlers:
        python:
          options:
            docstring_style: sphinx
            show_if_no_docstring: true
            inherited_members: true
            members_order: source
            separate_signature: true
            unwrap_annotated: true
            filters: ["!^(_.*$)", "^(__init__|__init_subclass__|__call__|__enter__|__exit__)$"]
            docstring_section_style: spacy
            signature_crossrefs: true
            show_symbol_type_heading: true
            show_symbol_type_toc: true
            show_signature_annotations: true
            show_category_heading: true
  - mike:
      alias_type: symlink
      canonical_version: latest
  - social:
      enabled: !ENV [ CI, false ]

# Extensions
markdown_extensions:
  - attr_list
  - md_in_html
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.tasklist:
      custom_checkbox: true
      clickable_checkbox: true
  - pymdownx.inlinehilite
  - pymdownx.snippets:
      base_path:
        - !relative $docs_dir
  - admonition
  - footnotes
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.mark
  - abbr
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.tabbed:
      alternate_style: true
  - toc:
      permalink: true

# Extra Stylesheets
extra_css:
  - stylesheets/announcement.css
  - stylesheets/search-bar.css

# Extra JavaScript for MathJax
extra_javascript:
  - javascripts/mathjax.js
  - javascripts/announcement.js
  - https://unpkg.com/mathjax@3/es5/tex-mml-chtml.js

# Page tree
nav:
  - Pyventus: index.md
  - Getting Started: getting-started.md
  - Learn:
      - learn/index.md
      - Upgrade Guide: learn/upgrade_guide.md
      - Events:
        - learn/events/index.md
        - Event Types: learn/events/types.md
        - Event Linkers: learn/events/linkers.md
        - Event Emitters:
            - learn/events/emitters/index.md
            - AsyncIO Event Emitter: learn/events/emitters/asyncio.md
            - Celery Event Emitter: learn/events/emitters/celery.md
            - Executor Event Emitter: learn/events/emitters/executor.md
            - FastAPI Event Emitter: learn/events/emitters/fastapi.md
            - Redis Event Emitter: learn/events/emitters/redis.md
      - Reactive:
        - learn/reactive/index.md
  - API Reference:
      - api/index.md
      - Core:
        - api/core/index.md
        - Collections:
          - MultiBidict: api/core/collections/multi_bidict.md
        - Exceptions:
          - PyventusException: api/core/exceptions/pyventus_exception.md
          - PyventusImportException: api/core/exceptions/pyventus_import_exception.md
        - Processing:
          - api/core/processing/index.md
          - AsyncIOProcessingService: api/core/processing/asyncio_processing_service.md
          - CeleryProcessingService: api/core/processing/celery_processing_service.md
          - ExecutorProcessingService: api/core/processing/executor_processing_service.md
          - FastAPIProcessingService: api/core/processing/fastapi_processing_service.md
          - RedisProcessingService: api/core/processing/redis_processing_service.md
        - Subscriptions:
          - SubscriptionContext: api/core/subscriptions/subscription_context.md
          - Subscription: api/core/subscriptions/subscription.md
          - Unsubscribable: api/core/subscriptions/unsubscribable.md
      - Events:
        - api/events/index.md
        - EventEmitter:
          - api/events/emitters/index.md
          - EventEmitter Utils: api/events/emitters/event_emitter_utils.md
        - EventHandler: api/events/handlers/event_handler.md
        - EventLinker: api/events/linkers/event_linker.md
        - EventSubscriber: api/events/subscribers/event_subscriber.md
      - Reactive:
        - api/reactive/index.md
        - Observable:
          - api/reactive/observables/index.md
          - ObservableTask: api/reactive/observables/observable_task.md
          - ObservableValue: api/reactive/observables/observable_value.md
          - ObservableStream: api/reactive/observables/observable_stream.md
          - Observable Utils: api/reactive/observables/observable_utils.md
        - Observer: api/reactive/observers/observer.md
        - Subscriber: api/reactive/subscribers/subscriber.md
  - Contributing: contributing.md
  - Release Notes: release-notes.md
